body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    margin-top: 20px;
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

/* Responsive Table */
@media screen and (max-width: 600px) {
    table {
        border: none;
    }

    thead {
        display: none;
    }

    tr {
        margin-bottom: 15px;
        display: block;
        border: 1px solid #ccc;
    }

    td {
        border: none;
        position: relative;
        padding-left: 50%;
    }

    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        content: attr(data-column);
        font-weight: bold;
    }
}

/* Style for table heading */
thead th {
    background-color: #FFA500; /* Light orange background color */
    color: #fff;
    border-right: 1px solid #ccc;
}
